.pokemon-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.pokemon-detail-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.pokemon-info-image {
    height: 40vh;
    width: 40vh;
}

.pokemon-detail-types {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.pokemon-detail-evo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-height: 80%;
    overflow-y: scroll;
}

.pokemon-types-img {
    display: flex;
    align-items: center;
}

.pokemon-title {
    font-size: 3rem;
    font-weight: bolder;
}

.pokemon-id {
    font-size: 1.5rem
}

.types-title {
    font-size: 1.5rem;
}

.evolutions-title {
    font-size: 1.5rem;
}

.no-evolution-message {
    margin-top: 1rem;
    text-align: center;
    font-weight: bolder;
    background-color: #232323;
    height: 6em;
    font-size: 1.1em;

    display: flex;
    justify-content: center;
    align-items: center;

}