body {
  background-color: red;
  margin: 0;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;

  height: 100%;
  box-sizing: border-box;
}

.pokemon-list {
  overflow-y: auto;
}

.pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}