body {
  background-color: #ef3e3e;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;

  height: 100vh;
  box-sizing: border-box;
}

.pokemon-list {
  overflow-y: scroll;
}

.pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  gap: 1rem;
  height: 100vh;
}