.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    text-align: center;
    height: 7vh;
    width: 30rem;
    opacity: 0.5;
    background-color: black;
    border: none;
    color: white;
    font-size: 2rem;
}

.search-icon {
    cursor: pointer;
    height: 5rem;
    width: 5rem;
}

.search-form {
    display: flex;
}