.pokemon-card {
    background-color: black;
    height: 5em;
    width: 100%;
    color: white;

    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.pokemon-info {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.pokemon-image {
    padding-right: 1em;
}

img {
    height: 5em;
    width: 5em;
}

p {
    margin: 0;
}