.pokemon-card {
    background-color: #232323;
    height: 6em;
    width: 100%;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
}

.pokemon-card:hover {
    background-color: #222;
    scale: 0.98;
}

.pokemon-info {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 1em;

    font-size: 1.2rem;
    font-weight: bolder;
}

.pokemon-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2em;
}

img {
    height: 5em;
    width: 5em;
}

p {
    margin: 0;
}